{
  "extends": [
    "@eslint-kit/base",
    "@eslint-kit/typescript",
    "@eslint-kit/node",
    "@eslint-kit/prettier",
    "./.config/eslint-config"
  ],
  "parser": "@typescript-eslint/parser"
}
