@tailwind components;
@tailwind utilities;

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  --ifm-menu-link-padding-vertical: calc(0.375rem / 2);
  --ifm-color-primary: darkorange;
  --ifm-color-primary-dark: #d66a00;
  --ifm-color-primary-darker: #be5e00;
  --ifm-color-primary-darkest: #a65200;
  --ifm-color-primary-light: #ef8319;
  --ifm-color-primary-lighter: #f19132;
  --ifm-color-primary-lightest: #f39f4c;

  --ifm-paper-background: #ffffff;
  --ifm-paper-foreground: #111827;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
html[data-theme='dark'] {
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);

  --ifm-color-primary: darkorange;
  --ifm-color-primary-dark: #d66a00;
  --ifm-color-primary-darker: #be5e00;
  --ifm-color-primary-darkest: #a65200;
  --ifm-color-primary-light: #ef8319;
  --ifm-color-primary-lighter: #f19132;
  --ifm-color-primary-lightest: #f39f4c;
  --ifm-background-color: #1e293b;
  --ifm-navbar-background-color: #292524;

  --ifm-paper-background: var(--ifm-background-color);
  --ifm-paper-foreground: #f9fafb;
}

.hero {
  text-align: center;
  vertical-align: middle;
  background-color: var(--ifm-paper-background)
}

.hero-logo {
  height: 350px;
}
